body {
   background-color: burlywood;
}

.header {
    font-style: normal;
    color: crimson;
    display: flex;
    justify-content: center;
}
h1 {
    font-style: italic;
  color: black;
}
.GenerateBtn{

background-color: crimson;
}
.StudentList{
background-color: crimson;
}



@media (max-width: 768px) {
            .header {
                font-size: 3.8rem;
                
            }
            .list {
                font-size: 2.1rem;
               
                
            
            }
            button {
                width: 100%;
                font-size: 0.9rem;
            }
        }

        @media (max-width: 480px) {
            .header {
                font-size: 1.5rem;
            }
            .list {
                font-size: 1rem;
               
            }
            body {
                padding: 10px;
            }
        }