body {
  background-color: #f5deb3;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.container {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;

}

.header {
  text-align: center;
  color: #8b0000;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

h1 {
  font-style: italic;

}

button {
  background-color: #8b0000;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  font-size: 1.1rem;
  margin: 10px 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  white-space: nowrap;
  text-align: center;
}

button:hover {
  background-color: #5a0000;
}

.list {
  font-size: 2.1rem;
  font-style: italic;

}
@media (max-width: 768px) {
  .header {
    font-size: 2rem;

  }

  .list {
    font-size: 2.1rem;

  }

  button {
    width: 100%;
    font-size: 10px;
  }
}

@media (max-width: 480px) {
  .header {
    font-size: 1.5rem;
  }

  .list {
    font-size: 1rem;
   
  }

  body {
    padding: 10px;
  }
}